.main-navbar {
  display: flex;
  position: relative;
  justify-content: space-between;
  max-width: var(--max-content-width);
  margin: 0 auto;
  padding: 1rem 1.5rem;
}

.main-navbar > div {
  display: flex;
}

.main-navbar__logo {
  align-self: center;
}

.main-navbar__menu li {
  padding-right: 1rem;
}

.main-navbar__links,
.main-navbar__socials {
  display: flex;
  align-items: center;
  list-style: none;
  user-select: none;
}

.main-navbar__socials li a span {
  vertical-align: middle;
}

.main-navbar :global(.button) {
  align-self: center;
}

.main-navbar__hamburger {
  display: block !important;
  align-self: center;
  margin-left: 1rem;
  cursor: pointer;
}

.hamburger__bar1,
.hamburger__bar2,
.hamburger__bar3 {
  display: block;
  width: 1.5rem;
  height: 0.18rem;
  border-radius: 1px;
  background-color: var(--color-kabul);
  margin: 0.3rem 0;
  transition: transform 500ms, opacity 300ms;
}

.hamburger__bar1--active {
  transform: translate(0px, 7px) rotate(135deg);
}

.hamburger__bar2--active {
  transform: translateX(-10px);
  opacity: 0;
}

.hamburger__bar3--active {
  transform: translate(0px, -8px) rotate(-135deg);
}

.main-navbar__overlay {
  display: block !important;
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  top: 84px;
  height: calc(100vh - 84px);
  background: white;
}

.main-navbar__overlay--enter {
  height: 0;
}

.main-navbar__overlay--enter-active {
  /* opacity: 1; */
  height: calc(100vh - 84px);
  transition: height 500ms;
}

.main-navbar__overlay--exit {
  height: calc(100vh - 84px);
}

.main-navbar__overlay--exit-active {
  height: 0;
  transition: height 500ms;
}

.overlay__links,
.overlay__socials {
  text-align: center;
}

.overlay__links {
  margin-top: 3rem;
}

.overlay__links li {
  padding: 1rem;
}

.overlay__socials li {
  padding: 0.5rem;
}

.overlay__socials {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 1rem;
}

.overlay__copyright {
  display: block;
  text-align: center;
}
