.button--sm {
  padding: 0.2rem 1rem;
}

.button--md {
  padding: 0.1rem;
}

.button--lg {
  padding: 0.7rem 2rem;
}

.button--primary {
  background-color: var(--color-kabul);
  color: var(--color-contrast);
}

.button--secondary {
  background-color: var(--color-shadow);
  color: var(--color-contrast);
}

.button--menu {
  background-color: #e4e4e4;
  color: var(--color-kabul);

  filter: none;
}

.button--menu .active {
  background-color: var(--color-cloud);
  color: var(--color-kabul);
}
