:root {
  --background: #f2f2f2;
  --color-cloud: #cecbc8;
  --color-contrast: #f5eee8;
  --color-zeus: #28221e;
  --color-kabul: #614e41;
  --color-shadow: #7f6951;
  --color-yellow: #ffE99c; 
  --max-content-width: 100rem;
}

html,
body {
  font-family: "Outfit", sans-serif;
  font-weight: 200;
  letter-spacing: 0.08rem;
  padding: 0;
  margin: 0;
  color: var(--color-zeus);
  background: var(--background);
}

h1 {
  font-family: "Palatino Linotype", sans-serif;
  font-size: 4.5rem;
  letter-spacing: 0.05em;
}

h2 {
  font-family: "Palatino Linotype", sans-serif;
  font-size: 2rem;
  letter-spacing: 0.05em;
}

li {
  list-style: none;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

ul {
  padding: 0;
}

.button {
  /* Border */
  letter-spacing: 0.08rem;
  border-radius: 3px;
  border: none;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

  /* Typography */
  text-transform: uppercase;

  /* misc */
  cursor: pointer;
}

.container {
  max-width: var(--max-content-width);
  margin: 0 auto;
}

.content {
  max-width: 85%;
  margin: 0 auto;
  padding: 3rem 0;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */
