.mintpage :global(.content) {
    /* todo layouting and image */
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.mintpage__card {
    background: var(--color-zeus);
    border-radius: 5px;
    padding: 2rem;
    margin: 2rem;
    color: var(--color-contrast);
    text-align: center;
}

.mintpage__gif {
    /* position: relative; */
    justify-self: center;
    align-self: center;
}

.mintpage__card p {
    margin: 0.5rem;
}

.card__heading {
    text-align: center;
}

.card__address {
    color: var(--color-yellow);
}

.card__chip {

    margin: 1rem 0 0.5rem 0;
    display: inline-block;
    background-color: var(--color-contrast);
    padding: 0.5rem 1rem;
    border-radius: 5px;


    color: var(--color-zeus);
    font-weight: 600;
    font-size: 0.6rem;
}

.card__form {
    white-space: nowrap;
}

.card__form input {
    margin: 1rem 0;
    font-size: large;
    text-align: center;
    padding: 0.5rem;
  }

.card__form input[type="number"]::-webkit-inner-spin-button,
.card__form input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.form__input-group {
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-group__btn {
    min-width: auto;
    padding-right: 1rem;
    padding-left: 1rem;
    font-size: 1rem;
  }

.form__price {
    display: flex;
    justify-content: space-between;
    margin: 1rem 0 2rem 0;
}

.form__price a {
    color: var(--color-yellow);
    cursor: pointer;
}

.form__action button {
    width: 40%;
}

/* Media Queries */
  