.homepage__landing :global(.content) {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 0;
}

.landing__message {
  flex: 1;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

.landing__message p {
  text-align: end;
  font-size: 1.3rem;
}

.landing__images {
  padding-top: 2rem;
  grid-column: 1 / 3;
  grid-row: 2 / 3;
  display: flex;
  gap: 1rem;
}

.landing__image {
  flex: 1;
}

.homepage__team :global(.content) {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.team__heading {
  text-align: center;
  flex-basis: 100%;
}

.team__heading span:first-child {
  color: var(--color-kabul);
}

.team__member {
  text-align: center;
}

.member__image {
  border-radius: 50%;
}

.member__name {
  margin-top: 0.5rem;
  margin-bottom: 0;
}

.member__role {
  margin: 0.5rem;
}
