.landing-page {
  background-color: #f5eee8;
  text-align: center;
}

.landing-page__container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.landing-page__content {
  flex-grow: 1;
}

.landing-page__banner {
  max-width: 550px;
  margin: 0 auto;
}

.landing-page__text {
  padding: 2rem 0 1rem 0;
}
